$color: #97DB22;

body {
	margin: 0;
	padding: 0;
	width: 100%;
	.map {
		.step,.step1 {
			width: 100%;
			position: relative;
			overflow: hidden;
			margin-bottom: -1%;
			.path-first {
				.circ {
					stroke: $color;
				}
				.rec {
					fill: $color;
				}
			}
			.path {
				.circ {
					stroke: $color;
				}
				.rec {
					fill: $color;
				}
			}
			.path,.path-first {
				float: left;
			}
			
			.text-wrapper {
				padding-top: 15%;
				margin-right: 10%;
				margin-left: 10%;
				width: 60%;
				margin-bottom: 1.4%;
				float: left;
				.title {
					font-size: 2.2vw;
				}
				.subtitle {
					font-size: 1.2vw;
					font-style: italic;
				}
			}
		}
		.step1 {
			 .text-wrapper {
				padding-top: 7%;
				margin-bottom: 1.3%;
			}
		}
		
	}
}


@media screen and (max-width: 1145px) and (min-width 1061px) {
	.text-wrapper {
		.title {
			font-size: 2vw !important;
		}
		.subtitle {
			font-size: 1vw !important;
		}
	}
}
@media  (max-width: 1060px) and (min-width: 951px) {
	.text-wrapper {
		.title {
			font-size: 2.2vw !important;
		}
		.subtitle {
			font-size: 1.2vw !important;
		}
	}
}
@media  (max-width: 950px) and (min-width: 801px) {
	.text-wrapper {
		.title {
			font-size: 2.5vw !important;
		}
		.subtitle {
			font-size: 1.5vw !important;
		}
	}
}
@media  (max-width: 800px) {
	.text-wrapper {
		padding-top: 13% !important;
		.title {
			font-size: 3vw !important;
		}
		.subtitle {
			font-size: 2vw !important;
		}
	}
	.step1 {
		.text-wrapper {
			padding-top: 3% !important;
		}
	}
}
@media (max-width: 600px){
	.text-wrapper {
		margin: 0 auto !important;
		width: 90% !important;
		float: none !important;
		.title {
			font-size: 4vw !important;
		}
		.subtitle {
			font-size: 3vw !important;
		}
	}
	.path,.path-first {
		float: none !important;
		margin: 0 auto !important;
	}
	.path-first {
		margin-left: 13% !important;
	}
}
@media  (max-width: 500px) {
	.text-wrapper {
		.title {
			font-size: 5vw !important;
		}
		.subtitle {
			font-size: 4vw !important;
		}
	}
}
@media  (max-width: 400px) {
	.text-wrapper {
		.title {
			font-size: 6vw !important;
		}
		.subtitle {
			font-size: 5vw !important;
		}
	}
}